@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  src: url(./assets/Inter/Inter-VariableFont_opsz\,wght.ttf) format('truetype');
}

body {
  font-family: 'Inter', sans-serif;
}